# Python virtual environment
.venv/

# VS Code
.vscode/

# Local configuration files
.env

# Dev plans
.plan

# Claude settings
.claude

# Langgraph checkpoints and configuration
.checkpoints/
.langgraph_api

# cache files
__pycache__/
*.pyc
